/* شكل الفاتورة العادي في الصفحة */
.invoice-container {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
}
.invoice-title {
  text-align: center;
}
.invoice-table {
  border-collapse: collapse;
}
.invoice-table th,
.invoice-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}
.print-button-container {
  text-align: center;
}
.swal2-confirm-btn {
  background-color: #d33 !important;
  color: white !important;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  margin-right: 30px ;
}

.swal2-cancel-btn {
  background-color: #3085d6 !important;
  color: white !important;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
}

.swal2-confirm-btn:hover {
  opacity: 0.9;
}

.swal2-cancel-btn:hover {
  opacity: 0.9;
}


@media print {
  body * {
    visibility: hidden; /* اخفاء كل حاجة */
  }
  .invoice-container, .invoice-container * {
    visibility: visible; /* إظهار الفاتورة فقط */
  }
  .invoice-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .print-button-container {
    display: none; /* اخفاء زر الطباعة في الورقة */
  }
}
